<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>
  
  <node pkg="nodelet" type="nodelet" name="convert_metric"
        args="load depth_image_proc/convert_metric standalone_nodelet">
    <remap from="image_raw" to="/dat2ros/depth/image_raw"/>
    <remap from="image" to="/dat2ros/depth/image"/>
  </node>
 
  
  <node pkg="gaze-tracking-cmu" name="face_tracker_kinect" type="gaze.py" output="screen">
    <remap from="input_rgb_image" to="/dat2ros/rgb/image" />
    <remap from="input_depth_image" to="/dat2ros/depth/image" />
        
    <rosparam>
      show_text: True
    </rosparam>
    
  	<param name="cascade_frontal_alt" value="$(find gaze-tracking-cmu)/params/haarcascade_frontalface_alt.xml" />
   	<param name="cascade_frontal_alt2" value="$(find gaze-tracking-cmu)/params/haarcascade_frontalface_alt2.xml" />
  	<param name="cascade_profile" value="$(find gaze-tracking-cmu)/params/haarcascade_profileface.xml" />

  </node>
</launch>
